* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #999;
    color: #fff;
}

.overlay, .backdrop, .dashboard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.backdrop {
    background-position: center center;
    background-size: cover;
    background-image: url("img/backdrop.jpg");
    z-index: 0;
}

.overlay {
    background-color: rgba(20, 20, 20, 0.6);
    z-index: 1;
}

.dashboard {
    z-index: 2;
    font-weight: 300;
}

.clock, .weather, .railway {
    padding: 40px;
}

.weather .title {
    font-size: 72px;
}

.weather .temp {
    font-weight: 300;
    font-size: 48px;
}

.clock .time {
    font-size: 124px;
    margin: 0;
}

.clock .date {
    font-size: 32px;
}

.railway .trainTime {
    font-size: 22px;
    display: flex;
}

.railway .trainTime .time {
    flex: 0 0 110px;
    font-weight: bold;
    font-size: 58px;
    align-content: center;
}

.railway .trainTime .time.delayed {
    color: red;
}

.railway .trainTime .info {
    flex: 1;
    margin-left: 20px;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.railway .trainTime .info .destination,
.railway .trainTime .info .route {
    flex: 1;
}

.railway .trainTime .info .destination {
    padding-top: 10px;
}

.railway .trainTime .info .route {
    padding-bottom: 10px;
}

/* grid stuff */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row > .col {
    display: block;
    flex: 1;
}